<!--炫彩三角纽带效果-->
<canvas id="silk" style="position: absolute;z-index: -99;"></canvas>
<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            <img th:src="@{/site/images/logo.png}" alt="Blog">
        </a>
        <div class="navbar-menu">
            <a href="/archives">Archives</a>
            <a href="/links">Links</a>
            <a href="/about">About</a>
        </div>
        <div class="navbar-search">
            <span class="icon-search"></span>
            <form id="search" method="get" action="/search" role="search">
                <span class="search-box">
                    <input type="text" id="input" class="input" name="keyword" required="true" placeholder="Search..." maxlength="30" autocomplete="off">
                </span>
            </form>
        </div>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a href="/archives">Archives</a></li>
                <li><a href="/links">Links</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</header>
