<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">OSS</h2>
            </div>
            <div class="card-block">
<!--                <div style="margin-bottom: 10px;">-->
<!--                    <el-button @click="handleAdd" type="success" size="mini" icon="el-icon-plus"></el-button>-->
<!--                </div>-->
                <el-form size="mini" :inline="true">
                    <el-form-item>
                        <el-input v-model="query.prefix" placeholder="文件名或者文件前缀查询" style="width: 300px"></el-input>
                    </el-form-item>
                    <el-form-item style="padding: 0;margin: 0">
                        <el-button @click="fetchData" type="success" icon="el-icon-search"></el-button>
                    </el-form-item>
                    <el-button style="margin-left: 20px" @click="handleAdd" type="success" size="mini" icon="el-icon-plus"></el-button>
                </el-form>
                <br/>
                <div class="table-responsive">
                    <el-table :data="list" size="small">
                        <el-table-column align="center" label="对象名称" width="270" prop="name"></el-table-column>
                        <el-table-column align="center" label="对象大小(kb)" width="150" prop="size"></el-table-column>
                        <el-table-column align="center" property="url" width="100" label="预览图">
                            <template slot-scope="scope">
                                <a :href="scope.row.url" target="_blank" style="color:#409EFF;">
                                    <el-image :src="scope.row.url" width="40" lazy></el-image>
                                </a>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="最后修改时间" prop="lastModifyTime"></el-table-column>
                        <el-table-column align="center" label="链接地址" prop="url"></el-table-column>
                        <el-table-column align="center" label="操作" width="200" class-name="small-padding fixed-width">
                            <template slot-scope="scope">
                                <el-button type="text" size="mini" @click="handleDel(scope.row.name)" icon="el-icon-delete"></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
        </div>
    </div>
</div>
